{% load staticfiles %}
<html>
<head>
    <title>Green Week</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% block styles %}
    {% endblock %}
</head>
<body>

    {% include "header.html" %}

    <div>
        {% block content %}
        {% endblock %}
    </div>

    {% if request.user.is_authenticated %}
        <h1> User logged in {{ request.user.username }}</h1>
    {% endif %}

    {% include "footer.html" %}
<script src="../static/js/main.js"></script>

</body>
</html>