{% load staticfiles %}
<html>
<head>
    <title>Green Week</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% block styles %}
    {% endblock %}
</head>
<body>

{% include "header.html" %}

    <div class="page-container">

        <h1>Oversikt:</h1>

        <div class="page-content" style="justify-content: center; display: flex">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {% include "footer.html" %}
<script src="../static/js/main.js"></script>

</body>
</html>