<footer>
    <div class="left">
    <h3>Green Week er utviklet av</h3>
    <ul>
        <li>Anders Mølster Hopland</li>
        <li>Andreas Ore Larssen</li>
        <li>Marianne Voss Siljan</li>
        <li>Simen Horten Olavesen</li>
        <li>Thomas André Skaaheim</li>
    </ul>
    </div>
    <div class="center">
    <i>"Green Week er en festival for grønne folk, med grønne verdier"</i>

    </div>
    <div class="right">
    <a href="{% url 'dashboard' %}">
            <img class="img" src="../static/images/logo.png">
        </a>

    </div>

</footer>