{% load staticfiles %}

{% if request.user.is_authenticated %}
<nav>
    {% if rolle == "arrangor" %}
        <a href="{% url 'arrangor' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
        <a href="{% url 'scener' %}">Scener</a>
    {% elif rolle == "lydtekniker" %}
        <a href="{% url 'lydtekniker' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
    {% elif rolle == "lystekniker" %}
        <a href="{% url 'lystekniker' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
    {% elif rolle == "manager" %}
        <a href="{% url 'manager' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
        <a href="">MAILBOX</a>
        <a href="">Registrer band</a>
        <a href="">Rediger band</a>
    {% elif rolle == "bookingansvarlig" %}
        <a href="{% url 'bookingansvarlig' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
        <a href="">Book band</a>
        <a href="">Tidligere festivaler</a>
        <a href="">Tidligere band</a>
        <a href="">Send forslag</a>
    {% elif rolle == "bookingsjef" %}
        <a href="{% url 'bookingsjef' %}">
            <img class="logoImg" src="../static/images/logo.png">
        </a>
        <a href="">MAILBOX</a>
        <a href="">Økonomi</a>
        <a href="">Vurder marked</a>
    {% elif rolle == "bookingsjef" %}
    {% endif %}
    <a href="{% url 'logout' %}">Logg ut</a>
</nav>
{% endif %}