{% load staticfiles %}

{% if request.user.is_authenticated %}
<nav id="navBar">
    <a href="{% url 'dashboard' %}">
        <img id="logoImg" src="../static/images/logo.png">
    </a>
    {% if rolle == "manager" %}
        <a href="">MAILBOX</a>
        <a href="">Registrer band</a>
        <a href="">Rediger band</a>
    {% elif rolle == "bookingansvarlig" %}
        <a href="">Book band</a>
        <a href="">Tidligere festivaler</a>
        <a href="">Tidligere band</a>
        <a href="">Send forslag</a>
    {% elif rolle == "bookingsjef" %}
        <a href="">MAILBOX</a>
        <a href="">Økonomi</a>
        <a href="">Vurder marked</a>
    {% endif %}
    <a href="{% url 'logout' %}">Logg ut</a>
</nav>
{% endif %}