{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}

<img id="bgImg" src="../../static/images/login.jpg" alt="">

<div class="page-container">
    <div class="page-content">
    <div class="login-form">
        <h2>Green Week</h2>
        <form action="{% url 'login' %}" method="post" class="form-group">
            <input id="id_username" type="text" name="username" maxlength="254"
               placeholder="Brukernavn" autofocus required>
            <input id="id_password" type="password" name="password"
                   placeholder="Passord" required>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ dashboard }}" />
            <button type="submit">Logg inn</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}



