* {

    font-family: Arial,monospace;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
}

.page-container {
    margin-top:5rem;
}

/* får ikke denne til å fungere, finn ut hvorfor
    Fjern så inline css i base.html

.page-content {
    display: flex;
    justify-content: center;
}

*/

nav {
    background-color: white;
    box-shadow: 0 2px 0 #dddddd;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav > a {
    color: grey;
    display: flex;
    float: left;
    padding: 1em 1em;
    text-decoration: none;
    transition: 0.5s ease;
}

nav > a:hover {
    background-color: whitesmoke;
    transition: background-color 0.2s ease;
}

a.dropdown {
    display: inline-block;
    position:relative;
    float:right;
}

.dropdown-content {
    background-color: white;
    border:2px solid #dddddd;
    max-width: 165px;
    min-width: 160px;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid #dddddd;
}

.dropdown-content a:last-child {
    border-bottom:0;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}
