* {
    font-family: Arial,monospace;
}

body {
    background-color: #f8f8f8;
    margin: 0;
    overflow: hidden;
}

h1 {
    display: flex;
    justify-content: center;
}

.img {
    height: 3em;
}

.page-container {
    margin-top:5rem;
}

.page-content {
    display: flex;
    justify-content: center;
}

nav {
    background-color: white;
    box-shadow: 0 2px 0 #dddddd;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a:first-child {
    padding: 0;
    margin-left: 0.5em;
}

nav > a {
    color: grey;
    display: flex;
    float: left;
    padding: 1em 1em;
    text-decoration: none;
    transition: 0.7s ease;
}

nav > a:hover {
    background-color: whitesmoke;
    transition: background-color 0.2s ease;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*
a.dropdown {
    display: inline-block;
    position:relative;
    float:right;
}

.dropdown-content {
    background-color: white;
    border:2px solid #dddddd;
    max-width: 165px;
    min-width: 160px;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom:1px solid #dddddd;
}

.dropdown-content a:last-child {
    border-bottom:0;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}
*/