{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<table id="tabellen">
    <thead>
        <tr id="tblTr">
                <th>Artist navn</th>
                <th>Tidspunkt</th>
                <th>Scene</th>
                <th>Medlemmer i rigging</th>
        </tr>
    </thead>
    <tbody id="tblBody">
        {% for consert in conserts %}
            <tr>
                <td>{{ consert.artist.navn }}</td>
                <td>{{ consert.tidspunkt }}</td>
                <td>{{ consert.sceneNavn }}</td>
                <td>
                {% for rigging in consert.rigging.all %}
                    {% for person in rigging.person.all %}
                        {{ person }}
                        -
                        {{ person.extend_user.role }} <br>
                    {% endfor %}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
