{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="choice-menu">
        <h1>Oversikt over konserter på scene:</h1>
        <form action="{% url 'arrangor' %}" method="post">
            {% csrf_token %}
            <select onchange="this.form.submit()" name="scene-choices">
                <option value="alle">Alle</option>
                {% for scene in sceneliste %}
                    {% if scene.sceneNavn == current_consert %}
                        <option value="{{ scene.sceneNavn.lower }}" selected="selected">
                            {{ scene.sceneNavn }}
                        </option>
                    {% else %}
                        <option value="{{ scene.sceneNavn.lower }}">
                            {{ scene.sceneNavn }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="page-content">
        <table id="arrangor-oversikt">
            <thead>
                <tr>
                    <th>Artist navn</th>
                    <th>Tidspunkt</th>
                    <th>Scene</th>
                    <th>Sjanger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for consert in conserts %}
                    <tr>
                        <td>{{ consert.artist.navn }}</td>
                        <td>{{ consert.tidspunkt }}</td>
                        <td>{{ consert.sceneNavn }}</td>
                        <td>{{ consert.artist.sjanger }}</td>
                        <td><a href="{{ consert.consert_url }}" class="btn-greeny btn-small">Se detaljer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
