{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Band med nøkkel informasjon:</h1>
    <div class="page-content">
        {% for band_info in band_info %}
            <label for="artist">Navn:</label>
            <span id="artist">{{ band_info.artist }}</span>

            <label for="nokkelInfo">Nøkkel informasjon:</label>
            <span id="nokkelInfo">{{ band_info.nokkelInfo }}</span>

            <label for="stromtjeneste">Strømtjeneste:</label>
            <span id="stromtjeneste">{{ band_info.stromtjeneste }}</span>

            <label for="albumSalg">Album Salg:</label>
            <span id="albumSalg">{{ band_info.artist.albumSalg }}</span>

            <label for="norskeKonserter">Tidligere Norske konserter:</label>
            <span id="norskeKonserter">{{ band_info.norskeKonserter }}</span>

        {% endfor %}
    </div>
</div>
{% endblock %}