{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <h1>Hva ønsker du å gjøre {{rolle}}?</h1>

    <marquee id ="marq" scrolldelay="85" width="30%" behavior="scroll" loop="-1">
        <i>
            Dagens dato :  <span id="spnTime"> </span>
        </i>
        <i>
            Været i dag : <span>18 grader og sol</span>
        </i>
    </marquee>

{% endblock %}