{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Godkjenn tilbud</h1>
    <div class="page-content col">
        <div class="detail-container detail-center">
            <h3>Tilbud for: {{ tilbud.artist.navn }}</h3>
            <div class="content-border">
               <h4>Artist</h4>
                <p>{{ tilbud.artist.navn }}</p>
            </div>
            <div class="content-border">
                <h4>Honorar:</h4>
                <p>{{ tilbud.pris }} kr</p>
            </div>
            <div class="content-border">
                <h4>Dato:</h4>
                <p>{{ tilbud.tidspunkt }}</p>
            </div>
            <div class="content-border">
                <h4>Scene:</h4>
                <p>{{ tilbud.scene_navn }}</p>
            </div>
        </div>

        <div class="detail-center form-group space-between">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send" class="btn-greeny wide" />
            </form>
        </div>
    </div>
</div>
{% endblock %}