{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Rediger tekniske behov for {{ artist.navn }}:</h1>

    <div id="pageContent" class="page-content">
        <div class="detail-info">
            <h3>Redigeringsskjema:</h3>
            <form id="behovFrm" action="" method="post">
                {% csrf_token %}
                {{ behov_form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>

        <div class="detail-info">
            <h3>Tabelloversikt over tekniske behov</h3>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for behov in artist.behov.all %}
                        <tr>
                            <td>{{ behov.type }}</td>
                            <td>{{ behov.behov }}</td>
                            <td><button onclick="deleteBehov(this)">Slett</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}