{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="choice-menu">
        <h1>Redigeringsskjema for band:</h1>
        <form action="{% url 'legg_til_behov_manager' %}" method="post">
            {% csrf_token %}
            <select id="bandSel" onchange="this.form.submit()"
                name="band-choices" id="band-choices">
                <option selected="selected">Velg blant registrerte band</option>
                {% for artist in artister %}
                    {% if artist.navn == current_artist.navn %}
                            <option value="{{ artist.navn.lower }}" selected="selected">
                                {{ artist.navn.lower }}
                            </option>
                        {% else %}
                            <option value="{{ artist.navn.lower }}">
                                {{ artist.navn.lower }}
                            </option>
                        {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="page-content">
        <div class="detail-info">
            <form id="behovFrm" action="" method="post">
                {% csrf_token %}
                {{ behov_form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>


        <div class="detail-info">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for behov in artist.behov.all %}
                        <tr>
                            <td>{{ behov.type }}</td>
                            <td>{{ behov.behov }}</td>
                            <td><button onclick="deleteBehov(this)">Slett</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}