{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Oversikt over konserter du skal rigge for:</h1>
    <div id="overview" class="page-content">
        <table>
            <thead>
                <tr>
                    <th>Band</th>
                    <th>Før konsert</th>
                    <th>Etter konsert</th>
                    <th>Dato</th>
                    <th>Scene</th>
                </tr>
            </thead>
            <tbody id="tableBdy">
                {% for consert in conserts %}
                <tr>
                    <td>{{ consert.artist }}</td>

                    {% for rigging in consert.rigging.all %}
                        <td>kl. {{ rigging.tidspunkt_for_konsert}}</td>
                        <td>kl. {{ rigging.tidspunkt_etter_konsert }}</td>
                    {% endfor %}

                    <td>{{ consert.tidspunkt }}</td>
                    <td>{{ consert.sceneNavn }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}