{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Band</th>
            <th>Tidspunkt</th>
            <th>Scene</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Green Day</td>
            <td>Okt. 9, 2017</td>
            <td>Festningen</td>
        </tr>
        <tr>
            <td>GDDE</td>
            <td>Des. 11, 2017</td>
            <td>Trønderscenen</td>
        </tr>
    </tbody>
</table>
{% endblock %}