{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Oversikt over dine bands konserter</h1>
    <div class="page-content">
        <table>
            <thead>
                <tr>
                    <th>Band</th>
                    <th>Tidspunkt</th>
                    <th>Scene</th>
                    <th>Sjanger</th>
                    <th>Honorar</th>
                    <th>Detaljer</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                    {% for consert in artist.consert.all %}
                        <tr>
                            <td>{{ artist.navn }}</td>
                            <td>{{ consert.tidspunkt }}</td>
                            <td>{{ consert.sceneNavn }}</td>
                            <td>{{ artist.sjanger }}</td>
                            <td>{{ consert.inntekter }} kr</td>
                            <td>
                                <a href="{{ consert.consert_url }}" class="info-button">
                                    Se detaljer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}