{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1>Band du er manger for</h1>
    <div class="page-content">
        <table>
            <thead>
                <tr>
                    <th>Band</th>
                    <th>Sjanger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                <tr>
                    <td>{{ artist.navn }}</td>
                    <td>{{ artist.sjanger }}</td>
                    <td><a href="{{  }}" class="info-button">Se detaljer</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}