{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Oversikt over dine bands konserter</h1>
    <div class="page-content">
        <table>
            <thead>
                <tr>
                    <th>Band navn</th>
                    <th>Tidspunkt</th>
                    <th>Scene</th>
                    <th>Sjanger</th>
                    <th>Honorar</th>
                    <th>Behov</th>
                    <th>Detaljer</th>
                </tr>
            </thead>
            <tbody>
                {% for consert in conserts %}
                    <tr>
                        <td>{{ consert.artist.navn }}</td>
                        <td>{{ consert.tidspunkt }}</td>
                        <td>{{ consert.sceneNavn }}</td>
                        <td>{{ consert.artist.sjanger }}</td>
                        <td>{{ consert.inntekter }} kr</td>
                        <td>
                            <a href="{% url 'legg_til_behov_manager' name=consert.artist.navn %}" class="btn-greeny">
                                Rediger behov
                            </a>
                        </td>
                        <td>
                            <a href="{{ consert.consert_url }}" class="btn-greeny">
                                Se detaljer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}