{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Redigeringsskjema for band:</h1>
    <div class="page-content">
        <form action="{% url 'redigerband' %}" method="post">
            {% csrf_token %}

            <div class="detail-content detail-info">
                <label for="bandSel">Band*:</label>
                <select id="bandSel" onchange="" onchange="this.form.submit()"
                        name="artist-choices" id="artist-choices">

                    <option value="velgBand">Velg blant registrerte band</option>
                    {% for artist in artists %}
                        {% if artist.navn == current_artist %}
                             <option value="{{ artist.navn.lower }}" selected="selected">
                                 {{ artist.navn }}
                             </option>
                        {% else %}
                            <option value="{{ artist.navn.lower }}">
                                {{ artist.navn }}
                            </option>
                        {% endif %}
                    {% endfor %}

                </select>

                <label>Dato:</label>
                <div>
                    <label for="dayInp">Dag*:</label>
                    <input id="dayInp" type="number" name="day"
                           min="1" max="31" placeholder="1" required>

                    <label for="monthInp">Måned*:</label>
                    <input id="monthInp" type="number" name="month"
                           min="1" max="12" placeholder="1" required>

                    <label for="yearInp">År*:</label>
                    <input id="yearInp" type="number" name="year" value=""
                           min="1970" max="2050" placeholder="2017" required>
                </div>

                <label for="sjangerInp">Sjanger*:</label>
                <input id="sjangerInp" type="text" name="sjanger" required>

                <label for="sceneInp">Scene*:</label>
                <input id="sceneInp" type="text" name="scene" required>

            </div>

            <div class="detail-content detail-info">

                <h3>Tekniske behov:</h3>
                <label>Behov for instrumenter:</label>
                <textarea placeholder="Skriv inn behov for instrumenter"></textarea>

                <label>Behov for lyd:</label>
                <textarea placeholder="Skriv inn tekniske behov for lyd her"></textarea>

                <label>Behov for lys:</label>
                <textarea placeholder="Skriv inn tekniske behov for lyd her"></textarea>

                <button class="btn-reg info-button" type="submit">Registrer</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}