{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Redigeringsskjema for band:
        <select id="bandSel" onchange="" onchange="this.form.submit()"
                name="band-choices" id="band-choices">

            <option value="velgBand">Velg blant registrerte band</option>
            {% for concert in conserts %}
                {% if artist.navn == current_artist %}
                     <option value="{{ artist.navn.lower }}" selected="selected">
                         {{ artist.navn }}
                     </option>
                {% else %}
                    <option value="{{ artist.navn.lower }}">
                        {{ artist.navn }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </h1>

    <div class="page-content">
        <div>

        </div>
        <form action="{% url 'redigerband' %}" method="post">
            {% csrf_token %}

            <div class="detail-info">
                <label for="bandSel">Behovstype:</label>
                <select id="bandSel" onchange="" onchange="this.form.submit()"
                        name="behov-choices" id="behov-choices">

                    <option value="velgBehov">Velg behov</option>
                    {% for concert in conserts %}
                        {% if artist.navn == current_artist %}
                             <option value="{{ artist.navn.lower }}" selected="selected">
                                 {{ artist.navn }}
                             </option>
                        {% else %}
                            <option value="{{ artist.navn.lower }}">
                                {{ artist.navn }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label></label>
                <textarea></textarea>

            </div>
        </form>

        <div class="detail-info">
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Beskrivelse</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Lyd</td>
                        <td>Trenger to høytallere</td>
                        <td><button>slett</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}