{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div>
        <!-- legg til onchangefunksjon for søk
            Her skal listen over alle scener
            for løkke gjennom alle scener
            hvis scenenavn.contain(string i searchbar)
            hvis scene, ellers fjern scenen fra listen
        -->
        <input id="searchBar" type="search" placeholder="Søk i scener">
    </div>
    <div class="page-container">
        <h1>Scener:</h1>
        <div class="page-content">
            <div class="scene-link-container">
                {% for scene in scener %}
                    <a href="{% url 'detaljer_scener' scene.sceneNavn %}" class="scene-link">{{ scene.sceneNavn }}</a>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}