{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="page-container">
        <h1>Scener:</h1>
        <div class="page-content">
            <input type="search" placeholder="Søk i scener">
            <a>Scene 1</a>
            <a>Scene 2</a>
            <a>Scene 3</a>
            <a>Scene 4</a>
            <a>Scene 5</a>
            <a>Scene 6</a>
        </div>
    </div>
{% endblock %}