{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Send godkjent tilbud</h1>
    <div class="page-content">
        <div class="detail-container">
            <h3>Tekniske behov:</h3>

            <div class="content-border">
               <h4>Artist</h4>
               {% for artist in tilbud.artist.all %}
                    <p>{{ artist.navn }}</p>
               {% endfor %}
            </div>

            <div class="content-border">
                <h4>Søknad</h4>
                <p>{{ tilbud.soknad }}</p>
            </div>

            <div class="content-border">
                <h4>Pris:</h4>
                <p>{{ tilbud.pris }}</p>
            </div>

            <div class="content-border">
                <h4>Dato:</h4>
                <p>{{ tilbud.tidspunkt }}</p>
            </div>
            <div class="content-border">
                <h4>Scene:</h4>
                <p>{{ tilbud.scene_navn }}</p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <center>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </center>
</div>
{% endblock %}