{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    {% if tilbud.godkjent_av_bookingsjef == True and tilbud.sendt_av_ansvarlig != True %}
        <h1>Send tilbud til manager</h1>
    {% elif tilbud.godkjent_av_manager == True %}
        <h1>Godkjent tilbud</h1>
    {% elif tilbud.godkjent_av_bookingsjef == True and tilbud.sendt_av_ansvarlig == True and tilbud.godkjent_av_manager != False %}
        <h1>Tilbud sendt til manager</h1>
        {% elif tilbud.godkjent_av_bookingsjef == None %}
        <h1>Tilbud sendt til bookingsjef</h1>
    {% else %}
        <h1>Avslått tilbud</h1>
    {% endif %}
    <div class="page-content col">
        <div class="detail-container detail-center">
            <h3>Tilbud:</h3>

            <div class="content-border">
               <h4>Artist</h4>
                <p>{{ tilbud.artist.navn }}</p>
            </div>

            <div class="content-border">
                <h4>Søknad</h4>
                <p>{{ tilbud.soknad }}</p>
            </div>

            <div class="content-border">
                <h4>Pris:</h4>
                <p>{{ tilbud.pris }}</p>
            </div>

            <div class="content-border">
                <h4>Dato:</h4>
                <p>{{ tilbud.tidspunkt }}</p>
            </div>
            <div class="content-border">
                <h4>Scene:</h4>
                <p>{{ tilbud.scene_navn }}</p>
            </div>
        </div>

        {% if tilbud and tilbud.godkjent_av_bookingsjef == True and tilbud.sendt_av_ansvarlig != True %}
            <div class="detail-center form-group space-between">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Send" class="btn-greeny wide"/>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}