{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="choice-menu">
        <h1>Tidligere konserter i sjanger:</h1>
        <form action="{% url 'tidligere_konserter' %}" method="post">
            {% csrf_token %}
            <select onchange="this.form.submit()"
                    name="sjanger-choices" id="scene-choices">
                <option value="alle">Alle</option>
                {% for sjangerTittel in sjangerliste %}
                    {% if sjangerTittel.sjanger == current_genre %}
                        <option value="{{ sjangerTittel.sjanger }}" selected="selected">
                            {{ sjangerTittel.sjanger }}
                        </option>
                    {% else %}
                        <option value="{{ sjangerTittel.sjanger }}">
                            {{ sjangerTittel.sjanger }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="page-content">
        {% if conserts %}
            <table id="tidligere_konserter-oversikt">
                <thead>
                    <tr>
                        <th>Artist navn</th>
                        <th>Dato</th>
                        <th>Scene</th>
                        <th>Publikumsantall</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consert in conserts %}
                        <tr>
                            <td>{{ consert.artist.navn }}</td>
                            <td>{{ consert.tidspunkt }}</td>
                            <td>{{ consert.sceneNavn }}</td>
                            <td>{{ consert.tilskuertall }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="greyed">Du har ikke noe registrert.</p>
        {% endif %}
    </div>
</div>
{% endblock %}