{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="space-around">
        <h1>Oversikt over tilbud:</h1>
    </div>
    <div class="space-around">
        <h3>Du har {{ antall_tilbud }} tilbud i innboksen din</h3>
    </div>
    <div class="page-content">
        {% if antall_tilbud > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Artist navn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBdy">
                {% for tilbud in tilbuds %}
                    <tr>
                        {% for artist in tilbud.artist.all %}
                            <td>{{ artist.navn }}</td>
                        {% endfor %}
                        <td><a href="{% url 'godkjenn_tilbud_bookingsjef' tilbud.id %}" class="info-button">Se detaljer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="greyed">Du har ikke noe registrert.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

