{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="space-around">
        <h1>Oversikt over tilbud:</h1>
    </div>
    <div class="space-around">
        {% if num_tilbud == 1 %}
            <h3>Du har {{ num_tilbud }} ubehandlet tilbud</h3>
        {% else %}
            <h3>Du har {{ num_tilbud }} ubehandlede tilbud</h3>
        {% endif %}
    </div>
    <div class="page-content">
        {% if tilbuds %}
            <table>
                <thead>
                    <tr>
                        <th>Artist navn</th>
                        <th>Detaljer</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tilbud in tilbuds %}
                        <tr>
                            {% for artist in tilbud.artist.all %}
                                <td>{{ artist.navn }}</td>
                            {% endfor %}

                            <td>
                                <a href="{% url 'godkjenn_tilbud_manager' tilbud.id %}"
                                   class="info-button">
                                    Se detaljer
                                </a>
                            </td>
                            <td>
                                <span>Ubehandlet</span>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p class="greyed">Du har ikke noe registrert.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

