{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Oversikt over tilbud:</h1>
    <h3>For å få mer informasjon om et tilbud og eventuelt godkjenne, klikk på se mer</h3>
    <h3>Ved godkjenning vil ordren automatisk bli lagt inn i systemet</h3>
    <br>
    <div class="page-content">
        <table>
            <thead>
                <tr>
                    <th>Artist navn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tilbud in tilbuds %}
                    <tr>
                        {% for artist in tilbud.artist.all %}
                            <td>{{ artist.navn }}</td>
                        {% endfor %}
                        <td><a href="{% url 'godkjenn_tilbud_bookingsjef' tilbud.id %}" class="info-button">Se detaljer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}