{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Detaljer tilbud</h1>
    <div class="page-content">
        <div class="detail-container">
            <h3>Tekniske behov:</h3>

            <div class="content-border">
                <h4>Artist</h4>
                <p>{{ tilbud.artist.navn }}</p>
            </div>

            <div class="content-border">
                <h4>Søknad</h4>
                <p>{{ tilbud.soknad }}</p>
            </div>
            <div class="content-border">
                <h4>Pris:</h4>
                <p>{{ tilbud.pris }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}