{% extends '../base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="choice-menu">
    <h1>Økonomisk oversikt over konserter i utvalgte sjangere på forskjellige scener:</h1>
    <form action="{% url 'vurder_marked' %}" method="post">
            {% csrf_token %}
            <select onchange="this.form.submit()" name="booking-scene" class="choice-menu">
                <option value="alle">Alle</option>
                {% for scene in sceneliste %}
                    {% if scene.sceneNavn == current_scene %}
                        <option value="{{ scene.sceneNavn.lower }}" selected="selected">
                            {{ scene.sceneNavn }}
                        </option>
                    {% else %}
                        <option value="{{ scene.sceneNavn.lower }}">
                            {{ scene.sceneNavn }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <select onchange="this.form.submit()" name="booking-genre" id="booking-genre" class="choice-menu">
                <option value="alle">Alle</option>
                {% for sjangerTittel in sjangerliste %}
                    {% if sjangerTittel.sjanger == current_genre %}
                        <option value="{{ sjangerTittel.sjanger }}" selected="selected">
                            {{ sjangerTittel.sjanger }}
                        </option>
                    {% else %}
                        <option value="{{ sjangerTittel.sjanger }}">
                            {{ sjangerTittel.sjanger }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
    </div>

    <div class="page-content">
        <table id="vurder_marked-oversikt">
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Tidspunkt</th>
                    <th>Scene</th>
                    <th>Sjanger</th>
                    <th>Publikumstall</th>
                    <th>Kostnader</th>
                    <th>Inntekter</th>
                </tr>
            </thead>
            <tbody>
                {% for consert in conserts %}
                    <tr>
                        <td>{{ consert.artist.navn }}</td>
                        <td>{{ consert.tidspunkt }}</td>
                        <td>{{ consert.sceneNavn }}</td>
                        <td>{{ consert.artist.sjanger }}</td>
                        <td>{{ consert.tilskuertall }}</td>
                        <td>{{ consert.kostnader }}</td>
                        <td>{{ consert.inntekter }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}